# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env*
!.env.example
*.log
server/*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
client/node_modules/
server/node_modules/
client/dist/
server/dist/
